/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
 /* centrar */
}

.example-full-width {
  width: 100%;
}

.button-aligment{
  float: right;
}

hr{
  border-color: #0097A7;
}

a {
  text-decoration: none !important;
  color: rgb(255, 255, 255);
}

mat-cell{
  padding-inline-end: 1%;
}

.mat-header-row {
  /* en algunas versiones de CHROME no funciona y creo que en ninguna de IE o Edge */
  position: sticky;
  top: 0;
  background: rgb(245, 245, 245);
  z-index: 1;
}

/*

@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-indigo, 500);
$accent:  mat-palette($mat-pink, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: $mat-font-family;
  font-weight: normal;
  margin: 0;
}

*/
