<mat-toolbar >
  <span>Accounts for user </span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <form class="form">
    <div class="example-container">

      <mat-form-field>
        <mat-select placeholder="User" name='user' [formControl]='userFormControl' (valueChange)="onUserSelect($event)" >
          <mat-option>None</mat-option>
          <mat-option *ngFor='let user of users' [value]="user">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userFormControl.hasError('required')">
          Seleccione el usuario del que desea administrar las cuentas
        </mat-error>
      </mat-form-field>

    </div>
  </form>

<!-- TODO > poner una linea o algo asi  -->

  <div class="form">

    <mat-form-field floatPlaceholder="never">
      <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </div>

  <mat-table #sorter class="mat-cell" [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.amount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Currency</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.currency.name}}</mat-cell>
      </ng-container>

<!--    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.created_at}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updated_at}}</mat-cell>
    </ng-container>
  -->
    <!-- actions -->

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [hidden]='!selectedUser'>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row;">
        <button mat-icon-button color="accent" (click)="startEdit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteItem(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
    No results
  </div>

</div>
