<mat-dialog-content>

  <div class="container">
    <h3 mat-dialog-title>Edit {{data.title}}</h3>

      <form class="mat-dialog-content" >
      <div class="example-container">

          <mat-form-field color="accent">
            <input matInput name="name" placeholder="Name" maxlength="250" [(ngModel)]="data.currency && data.currency.name"
            [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Ingrese un nombre
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="symbol" placeholder="Symbol" maxlength="3" [(ngModel)]="data.currency && data.currency.symbol" [formControl]="symbolFormControl">
          <mat-error *ngIf="symbolFormControl.hasError('required')">
            Ingrese un simbolo
          </mat-error>
        </mat-form-field>

      </div>
      </form>

  </div>

</mat-dialog-content>

<mat-dialog-actions class="button-aligment">
    <button mat-raised-button class="dark-primary-color text-primary-color" [disabled]="!validateForm()" [mat-dialog-close]="data.currency">Edit</button>
    <button mat-raised-button class="dark-primary-color text-primary-color" (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>
