<mat-dialog-content>

  <div class="container">
    <h3 mat-dialog-title>Add new {{data.title}}</h3>

      <form class="mat-dialog-content" >
      <div class="example-container">

          <mat-form-field color="accent">
            <input matInput name="name" placeholder="Name" maxlength="250" [(ngModel)]="data.user && data.user.name"
            [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Ingrese un nombre
            </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput name="email" placeholder="Email" maxlength="250" [(ngModel)]="data.user && data.user.email"
          [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Ingrese un email
          </mat-error>
      </mat-form-field>

      </div>
      </form>

  </div>

</mat-dialog-content>

<mat-dialog-actions class="button-aligment">
    <button mat-raised-button class="dark-primary-color text-primary-color" [disabled]="!validateForm()" [mat-dialog-close]="data.user">Save</button>
    <button mat-raised-button class="dark-primary-color text-primary-color" (click)="onNoClick()" >Cancel</button>
</mat-dialog-actions>
