<mat-card>

    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Transaction</mat-card-title>
      <mat-card-subtitle>From origin to target user in the same currency</mat-card-subtitle>
    </mat-card-header>
    <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
    <!--  <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    -->
        <mat-select placeholder="Origin user">
          <mat-option>None</mat-option>
          <mat-option *ngFor='let user of users' [value]="user.id" >
            {{user.name}}
          </mat-option>
        </mat-select>

        <mat-select placeholder="Target user">
            <mat-option>None</mat-option>
            <mat-option *ngFor='let user of users' [value]="user.id" >
              {{user.name}}
            </mat-option>
        </mat-select>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button>Do transaction</button>
      <button mat-raised-button>Cancel</button>
    </mat-card-actions>

  </mat-card>
