<mat-card>

    <mat-card-header>
      <mat-card-title>User</mat-card-title>
      <mat-card-subtitle>Form for admin users</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>


    <form class="example-form">
    <div class="example-container">
        <mat-form-field>
          <input matInput name="name" placeholder="Name" maxlength="250" [(ngModel)]="user && user.name"
          [formControl]="nameFormControl">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Ingrese un nombre
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="email" placeholder="Email" maxlength="250" [(ngModel)]="user && user.email"
        [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Ingrese un email
        </mat-error>
    </mat-form-field>

    </div>
    </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="createUser()">Save</button>
      <button mat-raised-button>Cancel</button>
    </mat-card-actions>

  </mat-card>
