#footer{
  text-align:center;
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: rgb(125, 200, 208);
  vertical-align: middle;
  padding: .5% .5%;
}

.text-span{
  color: rgb(255, 255, 255);
  font-family: Roboto, HelveticaNeue, Arial, sans-serif;
  font-size: 20px;
}
