<mat-dialog-content>

  <div class="container">
    <h3 mat-dialog-title>Create new {{data.title}}</h3>
    <h2 mat-dialog-title> From origin to target user in the same currency </h2>


    <form class="mat-dialog-content">
      <div class="example-container">

            <mat-form-field>
                <input matInput id="dialog_available_amount" name="available_amount" placeholder="Available amount" value="0.0" type="number" disabled>
              </mat-form-field>

              <mat-form-field>
                <input matInput name="transferency_amount" placeholder="Transferency amount" value="0.0" type="number" [formControl]='transferencyAmountFormControl'>
                <mat-error *ngIf="transferencyAmountFormControl.hasError('required')">
                  Ingrese monto a transferir
                </mat-error>
              </mat-form-field>


              <mat-form-field>
                <mat-select placeholder="Target user" (valueChange)="findTargetUserAccounts($event)" name='target_user' [formControl]='targetUserFormControl'>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor='let user of users' [value]="user">
                    {{user.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="targetUserFormControl.hasError('required')">
                  Seleccione un usuario destino de la transferencia
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Target account" name='target_account' [formControl]='targetAccountFormControl'>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor='let targetAccount of targetAccounts' [value]="targetAccount">
                    Account in {{targetAccount.currency.name}} - {{targetAccount.currency.symbol}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="targetAccountFormControl.hasError('required')">
                  Seleccione una cuenta destino de transferencia
                </mat-error>
              </mat-form-field>

      </div>
    </form>

  </div>

</mat-dialog-content>

<mat-dialog-actions class="button-aligment">
  <button mat-raised-button class="dark-primary-color text-primary-color" [disabled]="!validateForm()" [mat-dialog-close]="map" (click)='doTransaction()'>Do Transaction</button>
  <button mat-raised-button class="dark-primary-color text-primary-color" (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
