
.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-is-mobile {
  position: relative;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
/* z-index: 0;*/
}

.menu-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.menu-is-mobile .menu-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

#header-title{
  font-size: 20px;
  color: rgb(209, 21, 21);
}

.nav-menu{
  position: relative;
  min-height: 60px;
  top: 0;
  left: 0;
}

.navbar-header .mat-icon.burger {
  color: rgb(206, 176, 45);
}
