<div class="menu-container" [class.menu-is-mobile]="mobileQuery.matches">

  <nav class="nav-menu">

      <div class="navbar-header">
        <button class="navbar-left" mat-icon-button (click)="snav.toggle()">
          <mat-icon class="burger"> menu </mat-icon>
        </button>
        <a class="navbar-brand" routerLink="/" id="header-title">{{title}}</a>
      </div>

  </nav>

  <mat-sidenav-container class="menu-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-accordion>

        <mat-nav-list>
          <mat-list-item routerLink="/">Home</mat-list-item>
        </mat-nav-list>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Admin entities
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item routerLink="/users">Users</mat-list-item>
            <mat-list-item routerLink="/currencies">Currencies</mat-list-item>
            <mat-list-item routerLink="/accounts">Accounts</mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>

    </mat-sidenav>

    <mat-sidenav-content>

      <app-alert></app-alert>

      <!--
        <app-loader></app-loader>

       <app-alert></app-alert>
     -->

      <div style="padding: 2% 2%">
        <router-outlet>
        </router-outlet>
        <!--div class="body-divisor"> </div-->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


<app-footer> </app-footer>
