<mat-toolbar>
  <span>Transactions for user account </span>
  <span class="spacer"></span>
</mat-toolbar>

<div class=" mat-elevation-z8">

  <form class="form">
    <div class="example-container">

      <mat-form-field>
        <mat-select placeholder="User" name='user' [formControl]='userFormControl' (valueChange)="onUserSelect($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor='let user of users' [value]="user">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userFormControl.hasError('required')">
          Seleccione el usuario del que desea ver las transferencias
        </mat-error>
      </mat-form-field>

    </div>
    <span style="float: right;">
      <button mat-icon-button color="primary" [disabled]='!selectedUser' (click)="addNew()" >
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </span>

  </form>

  <hr>

  <div class="form">

    <mat-form-field floatPlaceholder="never">
      <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

  </div>

  <mat-table #sorter class="mat-cell" [dataSource]="dataSourceTransactions" matSort matSortActive="user.name"
    matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="user.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User (Origin/Target)</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation.amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.operation.amount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation.currency.name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Currency</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.operation.currency.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation.currency.symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.operation.currency.symbol}}</mat-cell>
    </ng-container>


    <!--    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.created_at}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updated_at}}</mat-cell>
    </ng-container>
  -->

    <mat-header-row *matHeaderRowDef="displayedColumnsTransactions"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsTransactions;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSourceTransactions.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  <div class="no-results" [style.display]="dataSourceTransactions.data.length == 0 ? '' : 'none'">
    No results
  </div>

</div>
